{% extends 'base.html.twig' %}

{% block title %}New Cart{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Cart</h1>
        <hr>
        {{ dump(cart) }}
        {{ include('cart/_form.html.twig') }}
        <a class="btn btn-secondary" href="{{ path('cart_index') }}">Back to list</a>
    </div>
{% endblock %}
