{% extends 'base.html.twig' %}

{% block title %}Website Index{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <div class="text-center">
        <img class="symfony-logo" src="img/symfony_logo.png" alt="Symfony Logo">
    </div>
    <hr>
    <h1 style="margin-top: 50px;">Welcome on my Symfony Project !</h1>
    {% if app.user is null %}
        <h5 class="mt-20">You are currently not logged in ! You can :</h5>
        <ul>
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
            <li><a href="{{ path('app_register') }}">Inscription</a></li>
        </ul>
    {% else %}
        {{ dump(app.user.id) }}
    {% endif %}
</div>
{% endblock %}
