{% extends 'base.html.twig' %}

{% block title %}New ContentCart{% endblock %}

{% block body %}
    <h1>Create new ContentCart</h1>

    {{ include('content_cart/_form.html.twig') }}

    <a href="{{ path('content_cart_index') }}">back to list</a>
{% endblock %}
